<div class="container">
  <div class="row espacio" >
    <div class="col-4">
      <div class="form-group">
        <input type="text" class="form-control" id="" placeholder="Search" [(ngModel)]="festivityFilter.name">
      </div>
    </div>
    <div class="col-8">
      <button type="button" class="btn btn-primary" (click)="newModal()">Add new</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let festivity of festivities | filterBy: festivityFilter"
          (click)="selectfestivity(festivity)" [ngClass]="{'selected': festivity.name === this.selectedFestivity?.name }">
          {{ festivity.name }}
        </li>
      </ul>
    </div>
    <div class="col-8" >
      <div *ngIf="selectedFestivity; else noSelectedTmpl">
        Name: {{ selectedFestivity.name}}
        <br>
        Place: {{ selectedFestivity.place}}
        <br>
        Start: {{ selectedFestivity.start | date: 'dd/MM/yyyy hh:mm:ss'}}
        <br>
        End: {{ selectedFestivity.end | date: 'dd/MM/yyyy hh:mm:ss'}}
        <br>
        <button class="btn btn-primary" (click)="editModal(selectedFestivity.id)">Edit</button>
      </div>
      <ng-template #noSelectedTmpl>
        Please select a festivity
      </ng-template>
    </div>

  </div>
</div>
