<form (ngSubmit)="onSubmit()" #festivityForm="ngForm" autocomplete="off">
  <div class="modal-header">
    <h4 class="modal-title"> {{ editing ? 'Edit Festivity' : 'New Festivity' }}</h4>
<!--     <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"  name="name" placeholder="Enter name" [(ngModel)]="festivity.name">
    </div>
    <div class="form-group">
      <label for="place">Place</label>
      <input type="text" class="form-control" id="place" name="place" placeholder="Enter place" [(ngModel)]="festivity.place">
    </div>
    <div class="form-group">
      <label for="start">Start</label>
      <input type="date" class="form-control" id="start" name="start" [(ngModel)]="festivity.start">
    </div>
    <div class="form-group">
      <label for="end">End</label>
      <input type="date" class="form-control" id="end" name="end" [(ngModel)]="festivity.end">
    </div>
    <!-- <pre> {{ festivity | json }}</pre> -->
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"> {{ editing ? 'Update' : 'Create' }}</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
  </div>
</form>
